<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sakanal.edu.mapper.CourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sakanal.edu.entity.Course">
        <id column="id" property="id" />
        <result column="teacher_id" property="teacherId" />
        <result column="subject_id" property="subjectId" />
        <result column="subject_parent_id" property="subjectParentId" />
        <result column="title" property="title" />
        <result column="price" property="price" />
        <result column="lesson_num" property="lessonNum" />
        <result column="cover" property="cover" />
        <result column="buy_count" property="buyCount" />
        <result column="view_count" property="viewCount" />
        <result column="version" property="version" />
        <result column="status" property="status" />
        <result column="is_deleted" property="isDeleted" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>
    <select id="getPublishCourseInfo" resultType="com.sakanal.edu.entity.vo.CoursePublishVo">
        SELECT
            ec.id,
            ec.title,
            ec.cover,
            ec.lesson_num AS lessonNum,
            ec.price,
            s1.title AS subjectLevelOne,
            s2.title AS subjectLevelTwo,
            t.name AS teacherName
        FROM
            edu_course ec   LEFT JOIN edu_teacher t ON ec.teacher_id = t.id
                            LEFT JOIN edu_subject s1 ON ec.subject_parent_id = s1.id
                            LEFT JOIN edu_subject s2 ON ec.subject_id = s2.id
        WHERE
            ec.id = #{id}
    </select>

</mapper>
